
.add-folder {
    @include font(bold, 20);
    text-align: center;
    margin-bottom: 10px;
   

   .fas{
       color: $wine-light;
       &:hover {
        color: $pink;
    }
   }
   
}


table {
    text-align: center; 
    background-color: $white;
    border-radius: 15px;
    margin: 0 auto;

    thead {
        text-align: center;
        border-bottom: 2px solid $gray;
        .head-description, .head-region, .head-edit, .head-img {
            display: none;
        }
        
            th {
                text-align: center;
                @include font(bold, 14, center);
                padding: 5px;
                color: $pink;
                i.fas {
                    margin-top: 5px;
                }

        }
        @include respond(phone) {
            th {
                padding: 10px;
            }
            th.head-img {
                display: table-cell;
            }
        }
        @include respond(tab-sm) {
            th {
                @include font(bold, 16, center);
            }    
        }
        @include respond(tab-land) {
            .head-description, .head-region, .head-edit, .head-img {
                display: table-cell;
            }
        }
        
    }

    tbody {
        border-bottom: 2px solid $gray; 
        .cell-description, .cell-region, .cell-icons, .cell-img {
            display: none;
        }
        td {
            padding: 5px;
            vertical-align: middle;
            @include font(bold, 12, center);
            color: $wine-dark;
            
            .fa-arrow-circle-right {
                color: $wine-light;
            }
            i.edit, i.delete {
                display: inline;
                margin: 0 8px;     
            }
            img {
                width: 40px;
            }   
        }
        @include respond(phone) {
            td {
                @include font(bold, 14, center);
            }
            td.cell-img {
                display: table-cell;
            }
        }

        @include respond(tab-sm) {
            td {
                padding: 10px;
            }

            td img {
                width: 60px;
            }
        }
        @include respond(tab-port) {
            td {
                @include font(bold, 16, center);
                padding: 15px;
            }

            td.cell-icons i {
                display: inline;
                &:hover {
                    color: $pink;
                }
            }

            td img {
                width: 80px;
            }
        }

        @include respond(tab-land) {
            td.cell-description, td.cell-region, td.cell-icons {
                display: table-cell;
            }  
            td.cell-respond-edit {
                display: none;
            }
        }
    }   

}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  }
  
/* Modal Content/Box */
.modal-content {
@include flex(center, center, column);
position: relative;
background-color: $wine-light;
@include font(bold, 18);
color: $white;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
width: 60%;
height: 100px; /* Could be more or less, depending on screen size */
}


.btn-modal-container {
    @include flex(center, center);
    margin-top: 30px;
    #anchor {
        @extend %button-form;
        padding: 11px 15px;
    }
    
    .cancel-btn {
    @extend %cancel-btn;
    padding: 11px 15px;
    margin: 0 10px;
    }


}


/* The Close Button */
.close {
color: #aaa;
position: absolute;
top: 10px;
right: 10px;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
    




