html {
    height: 100%;
}


body {
	background-color: $bg;
    min-height: 100%;
    position: relative;
    padding-bottom: 150px;

    .greeting {
        @include font(bold, 16);
        color: $pink;
        margin-bottom: 15px;
        margin-top: 25px;
        text-align: center;
    }

    form {
        margin: 0 auto;
        text-align: center;
        input[name="search"] {
            border: none;
            width: 230px;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            border-radius: 15px;
            padding: 10px 20px;
            @include font (italic, 16);
            &::placeholder {
                color: $wine;
            }
        }

        .fa-search {
            color: $wine-light;
        }

        
}

@include respond(tab-sm) {
    .greeting {
        @include font(bold, 20);
        margin-bottom: 0;
        text-align: center;
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


}


